.search-wrapper{
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
}
.search-box-2 {
    display: flex;
    justify-content: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  
  .search-box-2 input{
    width: 60%;
    margin: 2%;
  }
  
  .search-box-2 .btn{
    width: 40%;
    margin: 2%;
  }
  